################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/Part_1/ConsoleApplication/.vs
/.vs
/Part_1/ConsoleApplication/x64/Debug
/Part_1/ConsoleApplication/Exercise_1/x64/Debug/Exercise_1.tlog
/Part_1/ConsoleApplication/Exercise_1/x64/Debug/Exercise_1.Build.CppClean.log
/Part_1/ConsoleApplication/Exercise_1/x64/Debug/Exercise_1.exe.recipe
/Part_1/ConsoleApplication/Exercise_1/x64/Debug/Exercise_1.ilk
/Part_1/ConsoleApplication/Exercise_1/x64/Debug/Exercise_1.log
/Part_1/ConsoleApplication/Exercise_1/x64/Debug/Exercise_1.vcxproj.FileListAbsolute.txt
/Part_1/ConsoleApplication/Exercise_1/x64/Debug/main.obj
/Part_1/ConsoleApplication/Exercise_1/x64/Debug/vc145.idb
/Part_1/ConsoleApplication/Exercise_1/x64/Debug/vc145.pdb
